# Activar RewriteEngine
RewriteEngine on
 
# Reescribir la URL solicitada por el usuario
#   Entrada:  clientes/NOMBRE/
#   Salida: controlador.php?vista=NOMBRE
RewriteRule ^clientes/(\w+)/?$ controlador.php?vista=$1

